.About {

  &__banner {
    display: block;
    padding: 0 20%;
    width: 100%;

    @include respond(tab-land) {
      padding: 0 10%;
    }

    @include respond(tab-port) {
      padding: 0;
    }
  }

  &__content {
    margin: 0 20%;
    padding: 6rem 2rem;

    @include respond(tab-land) {
      margin: 0 10%;
    }
  
    @include respond(tab-port) {
      margin: 0 4rem;
      padding: 3rem 0;
    }
  
    @include respond(phone) {
      margin: 0 2rem;
    }
  }
}

.aboutOveride {
  &__h1 {
    display: block;
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.25;
    text-transform: capitalize;
    color: var(--color-primary-light);
  }

  &__h2 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--color-secondary-light);
  }

  &__h3 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: $color-grey-dark;
  }

  &__h4 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    color: $color-black;
  }

  &__h5 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: $default-font-size;
    font-style: italic;
    text-transform: capitalize;
    color: var(--color-tertiary-dark);
  }

  &__h6 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    color: $color-grey-dark;
  }

  &__quote {
    display: block;
    margin: 1rem 0;
    border-left: 3px solid var(--color-tertiary);
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    font-style: italic;
    color: $color-grey-dark;
  }

  &__break {
    height: 4rem;
  }

  &__paragraph {
    font-size: $default-font-size;
    line-height: 1.2;
    text-align: justify;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    & > a {
      text-decoration: none;
      color: var(--color-secondary);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: var(--color-primary-light);
      }
    }
  }
}
