.Talks {
  &__content {
    margin: 0 20%;
    padding: 6rem 2rem;

    @include respond(tab-land) {
      margin: 0 10%;
    }

    @include respond(tab-port) {
      margin: 0 4rem;
      padding: 3rem 0;
    }

    @include respond(phone) {
      margin: 0 2rem;
    }
  }
}
